/* float example stylesheet */

.float {
	border: 1px solid #ccc;
	margin-right: 20px;
	padding: 10px;
}

.float.left {
	float: left;
}

.float.w25 {
	width: 20%; /* not 25% due to padding */
}

.clear {
	clear: left;
}