/* holy grail stylesheet */

.holy {
	display: flex;
	min-height: 100vh;
}

.container {
	display: flex;
	flex: 1;
}

.container article {
	flex: 1;
}

.container nav, .container aside {
	background-color: tomato;
	flex: 0 0 12em;
}

.container nav {
	order: -1;
}

@media (max-width: 640px) {
	.container {
		flex-direction: column;
	}
}