/* stylesheet for vertical alignment example using flexbox */

.container {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.container .item {
	border: 1px solid #ccc;
	margin-right: 20px;
	padding: 10px;
}