/* stylesheet for vertical alignment example */

.container {
	position: relative;
}

.item {
	border: 1px solid #ccc;
	float: left;
	margin-right: 20px;
	padding: 10px;

	/* centering */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}